@page {margin: 50cm}
@media screen {
    body {background: linear-gradient(to bottom, #eaece5 25%, #009999 75%);
    ;}
    h1 {
        color: black;
        font-size: 50px;
        text-align:center;
        font-family: 'VT323', monospace;}
       
    h2 { color: darkcyan;
        font-size: 30px;
        text-align:center;
        font-family: 'Share Tech Mono', monospace;}
        
    h3 { color: darkcyan;
         font-size: 30px;
         text-align:center;
         font-family: 'Share Tech Mono', monospace;}
       
    p { color: black;
        border: 1.5px dashed #282828 ;
        padding: 25px;
        font-family: "Courier New", Courier, monospace;
        text-align: justify;
        text-indent: 50px;
        margin-top: 25px;
        margin-right: 75px;
        margin-bottom: 25px;
        margin-left: 75px;}
    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}
    }
/* all changes below made 2018/1/11 amd251 */
/* changed all of the fonts to courier new in place of the default*/
/* also changed th paragraph margins to 75px instead of 50px */
/* changed page background to a colored gradient instead of a solid color */
/* changed heading sizes from standard, to fixed */
/* changed heading fonts again, to ones found on google fonts, but kept courier new for parapgraph font */