@page {margin: 75px}
@media screen {
    body {background: linear-gradient(to bottom, #FFEFE4 25%, #BB6056 75%);
          border: dotted black;
          margin: 25px;}
    /* changed coloring of pages 11/6/18 amd251 */
    /* changed margin and border size 11/11 */
   /* added list styling 11/6/18 amd251 */
   ul.a {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       margin-left: 125px;
       margin-right: 125px;
       margin-bottom: 45px;
       margin-top: -50px;
       color: white;
       list-style-type: none;
       border-radius: 25px;
       overflow: hidden;
       padding: 0px;
       background-color: darksalmon;
       font-family: "Katibeh", cursive;
       font-size: 17px;}
   
   ul.b {
       list-style-type: dots;
       color: black;
       font-size: 25px;
       font-family: "Katibeh", cursive; 
       margin-top:-50px;
       margin-left: 150px;}
          
   li.a {
       display: block;
       color: white;
       text-align: center;
       padding: 7px 11px;
       text-decoration: none;}
       /* nav bar */
       
   li.b {
       text-align:justify;
       font-family: "Katibeh", cursive;}
       
   li.a:hover {
       background-color: maroon;}
   
   hr  {
        border-top: 2px solid black;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: -25px;
        margin-bottom: -25px;}
        /* added styling to the horizontal ruler (11/6/18, amd251) */
    
    h1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: darkred;
        padding: 10px;
        margin: 75px;
        background: #FECBB6;
        border-radius: 25px;
        font-size: 50px;
        text-align:center;
        font-family: 'Bungee Shade', cursive;}
        /* changed font 11/6/18 amd251 */
        /* changed heading bg 11/11 */
       
    h2 { color: darkred;
        font-size: 45px;
        text-align:center;
        font-family: 'Sacramento', cursive;}
        /* changed font 11/6/18 amd251 */
        
    h3 { color: darkred;
         font-size: 45px;
         text-align:center;
         font-family: 'Sacramento', cursive;}
         /* changed font 11/6/18 amd251 */
       
    p { color: black;
        font-size: 25px;
        padding: 15px;
        font-family: "Katibeh", cursive;
        text-align: justify;
        text-indent: 50px;
        margin-top: 20px;
        margin-right: 75px;
        margin-bottom: 30px;
        margin-left: 75px;}
        /* changed font 11/6/18 amd251 */
        /* changed formatting 11/7/18 amd251 */
        
    img.a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;}
    
    img.b{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 25%;}
        }
    
    
    
/* all changes below made 2018/1/11 amd251 */
/* added grey backgrounds to paragraphs */
/* changed all of the fonts to courier new in place of the default*/
/* also changed th paragraph margins to 75px instead of 50px */
/* changed page background to a colored gradient instead of a solid color */
/* changed heading sizes from standard, to fixed */
/* changed heading fonts again, to ones found on google fonts, but kept courier new for parapgraph font */